{% extends "base.html" %}

{% block content %}

<h2 class="text-center mb-4">📊 Tournament Overview</h2>

<div class="card p-4">

    <table class="table text-center">
        <thead>
            <tr>
                <th>Stage</th>
                <th>Completed</th>
                <th>Total</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            {% for stage, values in status.items() %}

                {% set completed = values[0] %}
                {% set total = values[1] %}

                <tr>
                    <td>{{ stage }}</td>
                    <td>{{ completed }}</td>
                    <td>{{ total }}</td>
                    <td>
                        {% if total == 0 %}
                            ❌ Not Generated
                        {% elif completed < total %}
                            ⏳ In Progress
                        {% else %}
                            ✅ Completed
                        {% endif %}
                    </td>

                    <td>
                        {% if stage == "Group" and completed == total and total > 0 %}
                            <a href="/generate-r16" class="btn btn-dark btn-sm">
                                Generate R16
                            </a>

                        {% elif stage == "R16" and completed == total and total > 0 %}
                            <a href="/generate-quarter" class="btn btn-dark btn-sm">
                                Generate Quarterfinal
                            </a>

                        {% elif stage == "Quarter" and completed == total and total > 0 %}
                            <a href="/generate-semi" class="btn btn-dark btn-sm">
                                Generate Semifinal
                            </a>

                        {% elif stage == "Semi" and completed == total and total > 0 %}
                            <a href="/generate-final" class="btn btn-dark btn-sm">
                                Generate Final
                            </a>

                        {% else %}
                            —
                        {% endif %}
                    </td>

                </tr>

            {% endfor %}

        </tbody>
    </table>

</div>

{% endblock %}